* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #e63946);
    padding: 10px;
}

.card {
    width: 100%;
    max-width: 400px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#addTask {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
}

#addTask:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

#addButton {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

#addButton:hover {
    background: #45a049;
}

.task {
    padding: 10px;
    background: #eef;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task button {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.task button:hover {
    background: #e63946;
}

.task-columns {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .task-section {
    width: 48%;
  }
  
  .task-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
  }